:root{
    --base:red;
    --spacing:10px;
    --blur:10px;
}

img{
    padding:var(--spacing);
    background: var(--base);
    filter :blur(var(--blur));
    
}

.h1{
    color:var(--base);
}



body{
    text-align: center;
}

body{
    background: burlywood;
    color:white;
    font-family: 'helvetic neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}